#headerColor {
  background-color: #6d4c41;
  color: #bcaaa4;
  margin: 0 0 30px 0;
  text-align: center;
  height: 80px;
  line-height: 80px;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-style: italic;
}
ul {
  border: 1px solid #eee;
  width: 300px;
  padding: 20px;
  list-style: none;
}

li:nth-child(1n + 1) {
  background-color: #81d4fa;
}
li:nth-child(2n + 1) {
  background-color: #69f0ae;
}

li :hover {
  background-color: #f8bbd0;
}

li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
